/* style2.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1, p {
    margin-bottom: 20px; /* Ajusta el valor según el espacio que necesites */
    color: #333;
    text-align: center;
}

/* Estilo del cuadro de texto */
.input-texto {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4e54c8;
    border-radius: 5px;
    margin: 10px 0;
    outline: none;
    transition: border-color 0.3s ease;
}

.input-texto:focus {
    border-color: #8f94fb;
}

/* Estilo del botón */
.btn-adivinar {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4e54c8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-adivinar:hover {
    background-color: #8f94fb;
    transform: translateY(-2px);
}

/* Estilo del mensaje */
.mensaje-adivinanza {
    margin-top: 20px;
    font-size: 18px;
    color: #4e54c8;
    font-weight: bold;
    transition: opacity 0.5s ease;
    opacity: 0;
}

/* Clase para hacer visible el mensaje */
.mensaje-visible {
    opacity: 1;
}

/* Clase para ocultar el botón de la imagen inicialmente */
.oculto {
    display: none;
}

/* Estilo para la imagen giratoria */
.contenedor-imagen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-girando {
    width: 200px;
    height: 200px;
    animation: girar 10s linear infinite; /* Cambiado de 2s a 10s para que rote más lento */
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
